/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}*/
body {
    /*background-color: #849d8f;*/
    padding:0;
    color: white;
    width: 1200px;
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
}
.site-wrapper {
    margin: 0;
    padding:0;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
#btn-1, #btn-2, #btn-3{
    display: none;
}
header {
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-content {
    display:flex;
    justify-content: start;
}
.main-navigation {
    margin-top: 15px;
    margin-left: 20px;
}
.main-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;/**/
}
.main-navigation-list > li {
    display: inline-block;
    margin-left: 25px;
    padding: 10px;
}

.main-navigation-list > li > a{
    /*padding: 10px;*/
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
    color: inherit;
}
.main-navigation-list li > a {
    /*border-bottom: solid 1px white;*/
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,.3);
}
.main-navigation-list > li:hover {
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.common-buttons {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
.common-buttons .btn {
    display: block;
    color:white;
    text-decoration: none;
    padding:10px;
    background-color: #9db1a5;
}
.common-buttons li {
    margin-right: 35px;
    display: inline-block;
    vertical-align: top;
    /*height: 17px;
    width: 17px;*/
}
/*.common-buttons li > a {
    vertical-align: center;
}*/
.common-buttons .btn {
    position: relative;
    border-radius: 40px;
}
.search-btn {
    display: block;
    width: 17px;
    height: 17px;
    padding: 10px;
    border-radius: 55px;
}
.search-btn::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image:url("../imgs/sprite.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -158px 0;/*-158px 0;*/
}
.search-btn:hover {
    background-color: #fff;
}
.search-btn:hover::before  {
    background-position: -158px -17px;
}
.common-buttons .enter-link {
    padding-left: 43px;
}
.enter-link::before {
    content: "";
    position: absolute;
    top:8px;
    left: 13px;
    width: 20px;
    height: 19px;
    background-image: url("../imgs/sprite.png");
    background-position: 58px -110px;
}
.enter-link:hover::before {
    background-position: 78px -110px;
}
.enter-link:hover {
    color: black;
    background-color: #fff;

}
.common-buttons .cart:hover{
    background-color: #fff;
    color:black;
}
.common-buttons .cart {
    padding-left: 43px;
}
.cart:hover::before{
    background-position: 65px -81px;
}
.cart::before {
    content: "";
    width: 20px;
    height: 20px;
    top:8px;
    left:15px;
    position: absolute;
    background-image: url("../imgs/sprite.png");
    background-position: 43px -81px;
}
.page-contacts {
    margin-right: 40px;
    padding-left:0;
    text-align: end;
}
#btn-1:checked ~ .site-wrapper {
    background-color: #859f91;
    /*background-image: url("");*/
}
#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    /*background-image: url("");*/
}

#btn-3:checked ~ .site-wrapper {
    background-color: #9e8c85;
}
.choice {
    margin-left: 20px;
}
.choice label {
    position: relative;
    display: inline-block;
    width:18px;
    height: 18px;
    border: solid white 2px;
    border-radius: 20px;
}
#btn-1:checked  ~ .site-wrapper{
    background-image: url("../imgs/bg-1.png");
}
#btn-2:checked  ~ .site-wrapper{
    background-image: url("../imgs/bg-2.png");
}
#btn-3:checked  ~ .site-wrapper{
    background-image: url("../imgs/bg-3.png");
}
.site-wrapper {
    background-position: top center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
#btn-1:checked  ~ .site-wrapper label[for="btn-1"]{
    background-color: #fff;
}
#btn-2:checked  ~ .site-wrapper label[for="btn-2"]{
    background-color: #fff;
}
#btn-3:checked  ~ .site-wrapper label[for="btn-3"]{
    background-color: #fff;
}
.slider {
    margin-top:250px;
}
#slide-1, #slide-2, #slide-3 {
    transition: opacity 1s;
    display: none;
}
#btn-1:checked ~ .site-wrapper #slide-1,#btn-2:checked ~ .site-wrapper #slide-2 ,#btn-3:checked ~ .site-wrapper #slide-3  {
    display: block;
    width: 600px;
    margin:0 auto;
}

#btn-1:checked ~ .site-wrapper #slide-1 *,#btn-2:checked ~ .site-wrapper #slide-2 *,#btn-3:checked ~ .site-wrapper #slide-3 *{
    /*margin:0 auto;*/
}
.button {
    display: block;
    background-color: #e95139;
    border-radius: 30px;
    height: 60px;
    width: 300px;
    text-align:center;
    font-size:32px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Roboto", "Arial", sans-serif;
    text-decoration: none;
    color: white;
}
.button.special-offer-button {
    margin-top: 20px;
}
.slider h3 {
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    font-size:36px;
    font-weight: 700;
    font-family: "Roboto", "Arial", sans-serif;
}
.slider .button {
    margin:0 auto;
}
.deals {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}
.deals .presents-left, .deals .presents-right {
    padding: 15px 20px 20px 18px;
    border-radius: 20px;
    width: 520px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}
.deals .presents-left {
    background-image: url("../imgs/stokeberry.png");
}
.deals .presents-right {
    background-image: url("../imgs/chocolate.png");
}
.presents-left  h3 , .presents-right  h3 {
    margin:0;
    font-size: 35px;
    font-weight: 700;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 41px;
}
.presents-left  p, .presents-right  p {
    font-family: "Roboto", "Arial", sans-serif;
    margin-top: 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 44px;
}
.presents-left  .button, .presents-right  .button {
    display: block;
    float:right;
    height: 20px;
    width: 150px;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 13px 13px 13px;
}
.presents-left  .button:hover, .presents-right  .button:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
/*
.hits {
    margin-top: 50px;
}
.hits .ice-cream-list {
    justify-content: space-around;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.hits .ice-cream-list a {
    height: 40px;
    width: 120px;
}
.hits .ice-cream-list li {
    position: relative;
    width: 267px;
}
.ice-cream-list li article {
    !*position: relative;*!
    padding-bottom: 60px;
}
!*.ice-cream-list li article:hover {
    position: absolute;
    width: 267px;
    background-color: rgba(255,255,255,.3);
    border-radius:5px;
}*!
.ice-cream-list li article p {
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    top: 180px;
}
.ice-cream-list li article span {
    font-size: 24px;
}
.ice-cream-list li article .item-heading {
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.ice-cream-list li article .item-heading:hover {
    color: #f58669;
    border-color: #f58669;
}
.ice-cream-list li article .ice-cream-list li article:before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("../imgs/hit.png");
}
.ice-cream-list li article .item-button {
    width: 170px;
    height: 40px;
    line-height: 36px;
    font-size: 16px;
}
!*.item-button-wrapper:hover + .item-content {
    position: absolute;
    z-index: 300;
}*!
.ice-cream-list li article .item-button span {
    font-size: 16px;
    margin-top: 1px;
    padding: 0;
}
.item-text-wrapper {
    margin: 20px 0 0 0;
    text-align: center;
}
.item-button-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top:-5px;
    left:-5px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    z-index: 2;
}
.item-button-wrapper:hover {
    background-color: rgba(255,255,255,.3);
    z-index: 2;
}
.item-button-wrapper .item-button {

}
.item-button {
    height: 50px;
    position: absolute;
    display:none;
    z-index: 20;
}
article:hover .item-button {
    display: block;
}*/
.hits-section {
    min-height: 460px;
    width: 100%;
}
.ice-cream-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 30px 30px 30px 0;
}
.list-item {
    position: relative;
    min-height: 330px;
    width: 267px;
}
.hit.item {
    position: absolute;
    min-height: 460px;
    width: 277px;
    top:-5px;
    left: -5px;
    border-radius:10px;
}
.hit.item:hover {
    background-color: rgba(255,255,255,.3);
}
.hit.item:hover .item-button {
    display: block;
}
.item-content {
    position: relative;
    width: 267px;
    top:5px;
    left: 5px;
    text-align: center;
}
.price {
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 36px;
    font-weight: 700;
}
.item-text-wrapper {
    margin-top: 20px;
}

.item-button {
    display: none;
    margin: 50px auto 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.item-heading {
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.features {
    margin: 0 30px 0 30px;
    padding: 10px;
    background-image: url("../imgs/wafle.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.features-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.features-list li {
    width: 40%;
}
.features h2 {
    color:black;
    font-size: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 30px;
}
.features-list li p {
    color:black;
}
.item {
    position: relative;
}
.features-list .item-1::before {
    content:"";
    position: absolute;
    left: -55px;
    top: 5px;
    width: 49px;
    height: 49px;
    background-image: url("../imgs/ice-cream.svg");
}
.features-list .item-2::before {
    content:"";
    position: absolute;
    left: -55px;
    top: 5px;
    width: 49px;
    height: 49px;
    background-image: url("../imgs/cow.svg");
}
.features-list .item-3::before {
    content:"";
    position: absolute;
    left: -55px;
    top: 5px;
    width: 49px;
    height: 49px;
    background-image: url("../imgs/ice-cream.svg");
}
.features-list .item-4::before {
    content:"";
    position: absolute;
    left: -55px;
    top: 5px;
    width: 49px;
    height: 49px;
    background-image: url("../imgs/thermometer.svg");
}
.post-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
}
.new-post {
    width: 49%;
    background: url("../imgs/stroke-berry.png")  no-repeat 0 0 ;
    background-size: cover;
    border-radius: 10px;
}
.subscription {
    border-radius: 10px;
    width: 49%;
/*    background: repeating-linear-gradient(135deg, white ,  white .25em, blue 0, blue .25em);*/
    background-image: repeating-linear-gradient(145deg, #f8f7f4 0 , #f8f7f4 5px, #92cdff 5px,#92cdff  10px,  #f8f7f4  10px, #f8f7f4  15px, #fe9e90 15px, #fe9e90 20px  );

    /*background: repeating-linear-gradient(135deg,
    #000, #000 .25em !* black stripe *!,
    #0092b7 0, #0092b7 .75em !* blue stripe *!
    );*/
/*background-image: repeating-linear-gradient(to right, yellow 10px, yellow 23.4px, #009966 23.4px, #009966 36.8px, purple 36.8px, purple 50px);*/
}
.sub-info-wrapper {
    margin: 5px;
    padding: 30px 20px 20px 20px;
    background-color: #f8f7f4;
    border-radius: 10px;
}
.subscription-info {
    margin: 0 0 30px 0;
    padding: 0;
    color: black;
}
.subscription-form {
    display: flex;
    min-height: 50px;
    box-sizing: border-box;
}
.subscription-form input {
    box-sizing: border-box;
    padding: 10px;
    height: 35px;
    width: 350px;
    /*margin-right: 20px;*/
    border-radius: 10px;
    border:1px solid rgba(70, 70, 70, 0.48);
    outline: none;
}
.subscription-form input:hover   {
    border:2px solid  rgba(56, 74, 93, 0.48);
}
.subscription-form .subscription-button {
    border: none;
    height: 40px;
    line-height: 20px;
    width: 150px;
    font-size: 18px;
    margin-right: 0;
    margin-left: 30px;
    margin-top: 3px;
}
.input-wrapper {
    margin: 5px;
}
.subscription-form input:hover  .input-wrapper {
    margin: 3px;
}
.post-text {
    margin: 25px 20px 10px 20px;
    color: black;
    width: 270px;
}
.main-info {
    margin: 0 20px 10px 20px;
    width: 270px;
}
.main-info a {
    color: black;
}
.main-info a:hover {
    color: #e84d37;
}
.container-location {
    position: relative;
}
.contacts {
    position: absolute;
    right: 50px;
    top: 20px;
    margin-right: 10px;
    display: block;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    color: black;
    border-radius: 20px;
}
.contacts .button {
    margin-top: 20px;
    width: 250px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    border: none;
    font-size: 18px;
    font-weight: 700;
}
.contacts b {
    padding-top: 10px;
    display: block;
    padding-bottom: 10px;
}

footer section {
    text-align: center;
    position: relative;
    /*display: flex;*/
    width: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}
footer section::after  {
    content: '';
    display: table;
    clear: both;
}
.social-buttons {
    list-style: none;
    float: left;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.social-buttons li {
    float: right;
    width: 37px;
    height: 37px;
    margin-right: 10px;
}
.social-buttons li a {
    display: inline-block;
    width: 37px;
    height: 37px;
}
.twitter {
    background: url("../imgs/twitter.png") ;
}
.instagram {
    background: url("../imgs/inst.png") ;
}
.facebook {
    background: url("../imgs/ФБ.png") ;
}
.vk {
    background: url("../imgs/ВК.png") ;
}
.footer-sub-menu {
    display: inline-block;
    margin: 0 auto;
}
.footer-sub-menu::after {
    content: '';
    display: table;
    clear: both;
}
.submenu-right {
    float: left;
    max-width: 170px;
    text-align: left;
    font-size: 13px;
    line-height: 1.3;
    padding-left:10px;
}
.submenu-left {
    position: relative;
    float: left;
    max-width: 160px;
    text-align: left;
    font-size: 13px;
}
.submenu-left a, .submenu-right a {
    display: inline-block;
    color: white;
    line-height: 1.7;
}
.copy-right {
    width: 205px;
    float: right;
    text-align: left;
}
.submenu-left .heart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: -20px;
    background: url("../imgs/heart.png") no-repeat ;
}
.heart {
    font-weight: 700;
}
.copy-right p {
    font-size: 13px;
}
.copy-right a {
    color: white;
}
.catalog:hover .header-sub-menu {
    display: block;
    background-color: #fff;
    border-radius: 5px;
}
.catalog {
    position: relative;
}
.header-menu-wrapper {
    position: absolute;
    width: 160px;
    top: 30px;
    padding-top: 20px;
    left: -10px;
    text-align: left;
}
.header-sub-menu {
    margin: 0;
    padding: 1px 0;
    list-style: none;
    box-shadow: 0 19px 45px 0 rgba(0, 0, 0, 0.4);
}
li.header-submenu-link-new  {
    margin: 0;
    padding: 0;
}
li.header-submenu-link {
    margin: 0;
    padding: 0;
}
li.header-submenu-link-new a {
    padding: 5px 5px 5px 25px;
    max-width: 150px;
    min-width: 100px;
    display: block;
    margin: 5px 0 5px 0;
    min-height: 25px;
}
li.header-submenu-link a {
    padding: 5px 5px 5px 25px;
    max-width: 150px;
    min-width: 100px;
    display: block;
    margin: 5px 0 5px 0;
    min-height: 30px;
    line-height: 25px;
}
li.header-submenu-link-new:hover {
    background-color: #fbded7;
}
li.header-submenu-link:hover {
    background-color: #fbded7;
}
.search-btn-wrapper {
    position: relative;
}
.search-wrapper {
    position: absolute;
    top: 50px;
    left: -300px;
    width: 311px;
    max-height: 50px;
    border-radius: 5px;
    padding: 15px;
    background-color: #f8f7f4;
}
.search-input {
    border: solid 1px grey;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
.enter-link-wrapper{
    position: relative;
}
.login-form-wrapper {
    position: absolute;
    border-radius: 5px;
    background-color: #f8f7f4;
    padding:20px;
}
.login-password, .login-name {
    border: solid 1px grey;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.btn-sign {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    background-color: #e95139;
    color: white;

}
.btn-sign:hover {
    background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.helpful-links {
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 125px;
}
.forget-password, .new-registration {
    font-size: 12px;
}









